
.homeContainer img{

    max-width: 600px;

}

/* Rectangle 1305 */
/* Nav bar ///////////////////////////////////////*/


/* box-sizing: border-box;

position: absolute;
width: 1238px;
height: 64px;
left: 245px;
top: 60px;

background: #2F221C;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px; */


/* Home */

/* position: absolute;
width: 67px;
height: 30px;
left: 972px;
top: 77px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
/* identical to box height */

/*color: #FFF5F1; */




/* About US ///////////////////////////////////////*/

/* About Us */

/* position: absolute;
width: 104px;
height: 30px;
left: 1139px;
top: 77px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;


color: #FFF5F1; */

/* Popular */

/* position: absolute;
width: 85px;
height: 30px;
left: 1343px;
top: 77px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
/* identical to box height */

/*color: #FFF5F1; */






/* Popular ///////////////////////////////////////*/

/* Popular */

/* position: absolute;
width: 85px;
height: 30px;
left: 1343px;
top: 77px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
/* identical to box height */

/*color: #FFF5F1; */



/*Dawn Sushi ///////////////////////////////////////*/

/* Dawn Sushi */

/* position: absolute;
width: 130px;
height: 30px;
left: 364px;
top: 77px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
/* identical to box height */

/*color: #FFF5F1; */



/*logo ///////////////////////////////////////*/

/* logo (1) 2 */

/* position: absolute;
width: 43.08px;
height: 40px;
left: 302px;
top: 72px;

background: url(logo (1).png); */



/* Main container */
/*


position: absolute;
width: 613.62px;
height: 406.63px;
left: 821px;
top: 367.25px;

background: url(popular-sushi-rolls.png);
transform: rotate(-14.46deg);




/ */

/* footer  */




/* container */


/* Rectangle 1306 */
/* 
position: absolute;
width: 1728px;
height: 165px;
left: 0px;
top: 952px;

background: #2F221C;
border-radius: 35px 35px 0px 0px; */




/* Navigation */

/* position: absolute;
width: 181px;
height: 38px;
left: 0px;
top: 9px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
/* identical to box height */

/* color: #FFF5F1; */ 

/*Home-Page link*/

/* Home-Page */

/* position: absolute;
width: 157px;
height: 38px;
left: 0px;
top: 72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 38px; */
/* identical to box height

color: #FFF5F1; */



/* Menu */

/* position: absolute;
width: 87px;
height: 38px;
left: 0px;
top: 9px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px; */
/* identical to box height

color: #FFF5F1; */




/* Menu-Page */

/* position: absolute;
width: 178px;
height: 38px;
left: 0px;
top: 72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 38px;
/* identical to box height */

/*color: #FFF5F1; */



/* About */

/* position: absolute;
width: 181px;
height: 38px;
left: 1358px;
top: 981px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
/* identical to box height */

/*color: #FFF5F1; */



/* About-Page */

/* position: absolute;
width: 178px;
height: 38px;
left: 1358px;
top: 1047px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 38px;
/* identical to box height */

/*color: #FFF5F1; */




