*{
    --white: white;
    --base-color: #355C7D ;
    --primary-color: #6C5B7B;
    --secondary-color:#F67280;
    --mixed-color: linear-gradient(45deg, #355C7D, #6C5B7B, #F67280);


}

body{

    background-color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    border: 4px solid var(--secondary-color);
    background-color: var(--base-color);
    width: 80vw;
    margin-left: 10vw;
    margin-top: 3vw;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    flex-wrap: wrap;
    gap: 5px;
    font-size: x-large;


}

nav ul{

    display: flex;
    gap: 42px;



}

nav li{
list-style: none;

}

footer{

    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #355C7D;
    position: relative;

}
footer .container{

    max-width: 1200px;
    margin: auto;


}
footer .footer-section{

    display: grid;
    grid-template-columns: 1fr 2fr;


}
.links img{
    margin: 5px;


}
footer .logo{

    display: flex;
    gap: 10px;
    font-family: "Quicksand", sans-serif;


}

footer .info{

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;





}

footer .navigation{

    display: flex;
    justify-content: space-evenly;
    font-size: large;
    


}
.copyrightSection{

    width: 100vw;
    background-color: #F67280;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.copyrightSection div{

    padding: 12px;
   

}

