*{
    --ff: 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
    --white: white;
    --base-color: #355C7D ;
    --primary-color: #6C5B7B;
    --secondary-color:#F67280;
    --mixed-color: linear-gradient(45deg, #355C7D, #6C5B7B, #F67280);
    --h1: bold 2rem/1.6 var(--ff);
    --h4: bold 1.4rem/1.6 var(--ff);
    --p: bold 1rem/1.6 var(--ff);
}

body{

    background-color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* Full viewport height */
  }
  .main{

    flex: 1;


  }



header{

    background-image: url("./images/nigiri-sushi.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 35px 35px;
    /* padding: 53px 131px; */
    padding-top:  3.31rem ;
    padding-left: 8.18rem;
    padding-right: 8.18rem;

}
nav{
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0rem;
    font: var(--h1);
}

nav ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    
}
/* logo (1) 2 */
.title img{

    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    filter: invert(100%);

}

/* Dawn Sushi */
.title h1{
    margin: 0;
    color: #FFFFFF;
}


ul li{

    list-style-type: none;

}
.nav-menu-link{
    
    font:var(--h4);
    color: #FFFFFF;

}
/* ////////////////////////////////////// */

/* Footer */

footer{

    margin: 0;
    padding: 0;
    background: var(--base-color);
    padding-left: 8.18rem;
    padding-right: 8.18rem;
    border-radius: 35px 35px 0px 0px;
    color: #FFFFFF;
}

.footer-info-section{

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;

    
    
}

.footer-info-section .logo{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0rem;
    font: var(--h1);

}
.footer-info-section img{

    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    filter: invert(100%);

}

.footer-info-section h1{
    margin: 0;
    color: #FFFFFF;
}


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 25px 195px; */
    padding: 22px 75px;
    gap: 10px;
    width: 100%;
    background: var(--base-color);
    

}




footer .navigation{

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap: 50px;

/* width: 595px; */
/* height: 40px; */
}
.nav-div{

    display: flex;
    flex-direction: column;

}


 .nav-div h4 , .nav-div a{
    /* Home-Page */

/* width: 165px; */
/* height: 40px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
/* font-size: 1.56rem; */
line-height: 38px;
color: #FFFFFF;
        
}













/*////////////////////////////////////////*/


.links img{
    margin: 5px;


}
footer .logo{

    display: flex;
    gap: 10px;
    font-family: "Quicksand", sans-serif;


}



.copyrightSection{

    width: 100vw;
    background-color: #F67280;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.copyrightSection div{

    padding: 12px;
   

}

