*{
    --ff: 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
    --white: white;
    --base-color: #355C7D ;
    --primary-color: #6C5B7B;
    --secondary-color:#F67280;
    --mixed-color: linear-gradient(45deg, #355C7D, #6C5B7B, #F67280);
    --h1: bold 2rem/1.6 var(--ff);
    --h4: bold 1.4rem/1.6 var(--ff);
    --p: bold 1rem/1.6 var(--ff);
}

body{

    background-color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* Full viewport height */
  }
  .main{

    flex: 1;


  }



header{

    background-image: url("./images/nigiri-sushi.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 35px 35px;
    /* padding: 53px 131px; */
    padding-top:  3.31rem ;
    padding-left: 8.18rem;
    padding-right: 8.18rem;

}
header button{

    all:unset;
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0rem;
    font: var(--h1);
}

nav ul, footer ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    
}
/* logo (1) 2 */
.title img, .footer-info-section img{

    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    filter: invert(100%);

}

/* Dawn Sushi */
.title h1, .footer-info-section h1{
    margin: 0;
    color: #FFFFFF;
}


ul li{

    list-style-type: none;

}
.nav-menu-link, .footer-menu-link{
    
    font:var(--h4);
    color: #FFFFFF;

}
/* ////////////////////////////////////// */

/* Footer */
/*Look at how to align footer and header, footer design research*/

footer{

    margin: 0;
    padding: 0;
    background-image: url("./images/nigiri-sushi.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 8.18rem;
    padding-right: 8.18rem;
    padding-bottom:  3.31rem ;
    /* border-radius: 35px 35px 0px 0px; */
    color: #FFFFFF;
}
.footer-container{
    display: flex;
    flex-direction: column;
    
    
}
.footer-info-section{

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    
}

.footer-info-section .logo{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0rem;
    font: var(--h1);

}
.nav-div{

    display: flex;
    flex-direction: column;

}

.links{

    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}



/*////////////////////////////////////////*/



